{% extends 'base.html.twig' %}

{% block title %} Mon compte - La boutique francaise {% endblock %}

{% block container %}
    <h1> Mon compte </h1>
    Bienvenue {{ app.user.firstname }} dans votre compte .C'est ici que vous aller pouvoir gérer les informations de votre compte.
{% endblock %}
