.navbar-item-custom , .navbar-item-custom a
{
    color: white;
}
body
{
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 0;    
    color : black;
}
main
{
    min-height: 66vh;
}
.footer-custom
{
    text-align: center;
    position: relative;
    bottom: 0px;
    width: 100%; 
    padding: 8px;
    color: white;
}
